{% extends 'base.html'%}

{% block body %}
<div class="container1">
<form action="/" method="POST">
    <div class="input-group mb-3">
        <input class = "form-control input-sm" type="text" placeholder="Enter text..."  name="content" id="content">
        <div class="input-group-append">
        <input type="submit" value="Add task">
        </div>
        </div>
    </form>

<table class = "table table-striped table-bordered text-center">
<thead class="thead-dark">
<tr>
        <th class="col-12" scope="col">Task</th>
        <th  scope ="col">Action</th>
    </tr>
{% for task in taskes %}
    <tr>
        <td>{{task.action}}</td>
        <td><a href="/delete/{{task.id}}"><button type="button" class="btn btn-outline-primary">Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
</div>
    
{% endblock %}